header{
    width: 400px;
    background-color:  red;
    text-align: center;  
    margin-left: 120px;
    border-radius: 20px 20px 0px 0px;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: sans-serif;
    margin: 0%;
}

h2{
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
}

main{
    text-align: center;
    margin: 50px;
    font-size: 30px;
    line-height: 10px;
    font-family: 'Ephesis', cursive;
}

